<ion-header>
  <ion-toolbar>
    <ion-title>view-newparty</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Default input</ion-label>
    <ion-input type="text" [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Default input</ion-label>
    <ion-input #descriptionId></ion-input>
  </ion-item>

   <ion-item>
    <ion-label>Default input</ion-label>
    <ion-datetime></ion-datetime>

  </ion-item>

  <ion-button (click) = "Save()">Save</ion-button>
</ion-content>
